<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>ID validation</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
  <div class="bodys" id="bodys">
    <div class="container" id="body">
            <form action="" method="post">
        
            <h1 class="form__title">Login</h1>
            <div class="form__message form__message--error"></div>
            <span id="login-form-error__span"></span>
            <div class="form__input-group">
                <input name="upvote" type="text" class="form__input" id="text" autofocus placeholder="Enter ID">
            </div>

<select name="option" class="form__option">
  <option value="off">Autoplay OFF</option>
  <option value="on">Autoplay ON</option>
</select>
            <button class="form__button" type="submit">Continue</button>

            <p class="form__text">
                <a class="form__link" href="./" id="pagrindas">pagrindas</a>
            </p>
        </form>
</div>
</div>

<!-- <button name="foo" value="upvote">Upvote</button> -->
<!-- <form action="" method="post">
    <input name="upvote">
    <button type="submit">Continue</button>
</form> -->

<div class="form--hidden" id="play">
    <p>A paragraph with a 25 pixels top margin.</p>
    <h1>test</h1>
</div>

</body>
</html>
